body{
    background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.facts {
    justify-content: space-between;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.row {
    margin: 40px;
    justify-content: center;
}

.carousel {
    margin: 10px 0 10px 0;
    box-shadow: 0px 0px 40px 4px #000000;
}
